# Core URL Configuration
external_url '{{ gitlab_url }}'

# Email / SMTP Configuration
gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'

{% if gitlab_smtp_enable %}
gitlab_rails['smtp_enable'] = true
{% else %}
gitlab_rails['smtp_enable'] = false
{% endif %}

# Disable Let's Encrypt for internal/lab ranges
letsencrypt['enable'] = false

gitlab_rails['initial_root_password'] = '{{ gitlab_root_password }}'

prometheus_monitoring['enable'] = false
alertmanager['enable'] = false
grafana['enable'] = false
gitlab_exporter['enable'] = false